<div class="page-sidebar">
    <div class="logo-box"><a href="#" class="logo-text">Connect</a><a href="#" id="sidebar-close"><i
                class="material-icons">close</i></a> <a href="#" id="sidebar-state"><i
                class="material-icons">adjust</i><i
                class="material-icons compact-sidebar-icon">panorama_fish_eye</i></a></div>
    <div class="page-sidebar-inner slimscroll">
        <ul class="accordion-menu">
            <li class="sidebar-title">
                Apps
            </li>
            <li {{#if isAdmin}}class="active-page"{{/if}}>
                <a href="/admin" {{#if isAdmin}}class="active"{{/if}}><i class="material-icons-outlined">dashboard</i>Bosh sahifa</a>
            </li>
            <li {{#if isCategory}}class="active-page"{{/if}}>
                <a href="/category" {{#if isCategory}}class="active"{{/if}}><i class="material-icons-outlined">inbox</i>Bo'limlar</a>
            </li>
            <li {{#if isAuthor}}class="active-page"{{/if}}>
                <a href="/author" {{#if isAuthor}}class="active"{{/if}}><i class="material-icons-outlined">account_circle</i>Mualliflar</a>
            </li>
            <li {{#if isNews}}class="active-page"{{/if}}>
                <a href="/news" {{#if isNews}}class="active"{{/if}}><i class="material-icons-outlined">newspaper</i>Yangiliklar</a>
            </li>
        </ul>
    </div>
</div>