<header class="header">
    <div class="wrapper">
        <div class="header_top">
            <div class="header_cols">
                <div class="header_categ">
                    <a href="#" class="header_categ_opener"><span class="icon-grid"></span>Bo'limlar</a>
                    <div class="header_categ_drop">
                        <ul class="catlist" id="menuCategory">
                        </ul>
                    </div>
                </div>
                <a href="mailto:karimoovismooil@gmail.com" class="header_mail"><span
                        class="icon-mail"></span>karimoovismooil@gmail.com</a>
            </div>
        </div>
        <div class="header_mid">
            <a href="/" class="header_logo logo" title=""><img data-src="/front/img/logo.png"
                    src="/front/img/logo.png" class="js-img" alt="" /></a>
            <ul class="header_nav">
                <li><a href="#recent" class="js-local">Ohirgi yangiliklar</a></li>
                <li><a href="#popular" class="js-local">Ommabop yangiliklar</a></li>
                <li><a href="#mostreaded" class="js-local">Eng ko'p o'qilgan</a></li>
                <li><a href="#hot" class="js-local">Qaynoq yangiliklar</a></li>
                <li><a href="#top" class="js-local">Haftalik yangiliklar</a></li>
            </ul>
            <a href="#" class="button-nav"><span></span></a>
        </div>
        <div class="navoverlay"></div>
    </div>
</header>