<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>back__links}}
    <title>{{title}}</title>
</head>
<body>
    {{#if success}}
        <div class="alert alert-primary" role="alert">
            {{success}}
        </div>
    {{/if}}
    {{#if error}}
        <div class="alert alert-primary" role="alert">
            {{error}}
        </div>
    {{/if}}
    <div class="connect-container align-content-stretch d-flex flex-wrap">
        {{>back__sidebar}}
        <div class="page-container">
            {{>back__header}}
            <div class="page-content">
                {{>back__info}}
                <div class="main-wrapper">
                    {{{body}}}
                </div>
            </div>
            {{>back__footer}}
        </div>
    </div>
    


    {{>back__scripts}}
</body>
</html>