<form action="/user/reg" method="post">
    <div class="form-group">
        <input type="text" class="form-control" name="name" id="name" placeholder="Ismingiz">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="login" id="login" placeholder="Login">
    </div>
    <div class="form-group">
        <input type="password" name="password" class="form-control" id="password" placeholder="Mahfiy kalit">
    </div>
    <button type="submit" class="btn btn-primary btn-block btn-submit">Ro'yhatdan o'tish</button>
    <div class="auth-options">
        <a href="/user/login" class="forgot-link">Ro'yhatdan o'rganmisiz?</a>
    </div>
</form>